<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StreamEd_app"
        tools:targetApi="31">
        <activity
            android:name=".ProfileUserStudentActivity"
            android:exported="false" />
        <activity
            android:name=".VideoStudentActivity"
            android:exported="false" />
        <activity
            android:name=".TimetableStudentActivity"
            android:exported="false" />
        <activity
            android:name=".CatologCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectUserStudentActivity"
            android:exported="false" />
        <activity
            android:name=".StreamStudentActivity"
            android:exported="false" />
        <activity
            android:name=".MembersStreamingActivity"
            android:exported="false" />
        <activity
            android:name=".StreamTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".MyCoursesUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".EditingProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".AddingLessonUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".CreatingCourseUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".LessonsUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectUserTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity2"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginUserActivity"
            android:exported="false" />
        <activity
            android:name=".UnloginCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>